<div class="modal-container">
  <div class="modal-header">
    <h5 class="modal-title">Actualizar Producto</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form grid" [formGroup]="edit">
      <div class="col-12">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Nombre</label>
            <input class="form-input" appInputMask="words" appValidateErrors type="text"
                   placeholder="Ingrese el nombre del producto"
                   formControlName="title">
            <span class="form-line"></span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Precio</label>
            <input class="form-input" appInputMask="float" appValidateErrors type="text"
                   placeholder="Ingrese el precio del producto"
                   formControlName="price">
            <span class="form-line"></span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Descripción</label>
            <textarea class="form-input text-area-high" appInputMask="words" appValidateErrors type="text"
                      placeholder="Ingrese la descripción del producto"
                      formControlName="description"></textarea>
            <span class="form-line"></span>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">Imágenes</label>
            <input class="form-input" appInputMask="url" appValidateErrors type="text"
                   placeholder="Ingrese las imágenes del producto"
                   formControlName="images">
            <span class="form-line"></span>
          </div>
        </div>
      </div>

      <div class="image-gallery">
        <div class="card-header" *ngFor="let image of images; let i = index">
          <img [src]="image" alt="{{ product.title }}" class="product-image"/>
          <button (click)="removeImage(i)" class="remove-button">X</button>
        </div>
      </div>

      <div class="col-12">
        <div class="cont-cen">
          <button class="btn-general" (click)="sendUpdate()">Actualizar producto</button>
        </div>
      </div>
    </form>
  </div>
</div>
