<footer class="hsg-footer">
  <section class="hsg-footer__bottom">
    <div class="hsg-footer__logo">
      <a href="https://github.com/Harold21Mtz" class="ga_nav_link" data-ga_nav_type="footer_nav" data-ga_nav_tree_text="GitHub Logo">
        <img loading="lazy" ngSrc="/assets/img/github.png" alt="GitHub" height="372" width="670"></a>
      <p>Copyright © 2024 Harold Martinez.</p>
    </div>
    <div class="social-icons">
      <a href="https://www.facebook.com" class="icon facebook"><img alt="facebook" loading="lazy" src="https://du-cdn.cdn-website.com/duda_website/images/footer/Facebook.svg?v=8" onerror="handleImageLoadError(this)"></a>
      <a href="https://www.instagram.com" class="icon instagram"><img alt="instagram" loading="lazy" src="https://du-cdn.cdn-website.com/duda_website/images/footer/instagram.svg?v=8" onerror="handleImageLoadError(this)"></a>
      <a href="https://twitter.com" class="icon twitter"><img alt="twitter" loading="lazy" src="https://du-cdn.cdn-website.com/duda_website/images/footer/Twitter.svg?v=9" onerror="handleImageLoadError(this)"></a>
      <a href="https://www.linkedin.com" class="icon linkedin"><img alt="linkedin" loading="lazy" src="https://du-cdn.cdn-website.com/duda_website/images/footer/LinkedIn.svg?v=8" onerror="handleImageLoadError(this)"></a>
      <a href="https://www.youtube.com" class="icon youtube"><img alt="youtube" loading="lazy" src="https://du-cdn.cdn-website.com/duda_website/images/footer/YouTube.svg?v=8" onerror="handleImageLoadError(this)"></a>
    </div>
  </section>
</footer>
